---
// PURPOSE: LIST ALL POSTS/RECIPES; USED IN INDEX
import type { CollectionEntry } from 'astro:content';
interface Props {
	post: CollectionEntry<'recipe'>;
}

const { post } = Astro.props;
---

<article class="post-preview searchable">
	<header class="">
		<a href={"/recipe/" + post.slug + "/"}><h1 class="text-2xl">{post.data.title}</h1></a>
	</header>
	<p class="text-base">{post.data.description}</p>
	<p class="text-sm text-gray-500 m-0 p-0">{post.data.category} { post.data.keyIngredient && <span class="b"> · </span> <span>{post.data.keyIngredient}</span> } { post.data.status && <span class="b"> · </span> <span>{post.data.status}</span> }</p>
</article>


<style>
	.post-preview p span.b { margin: 0 4px; @apply text-gray-400; }
</style>
