---
// PURPOSE: VIEW A SINGLE POST/RECIPE
import Head from '../components/BaseHead.astro';
import MainNav from '../components/MainNav.astro';
import PostContent from '../components/PostContent.astro';

const { content } = Astro.props;
const { title, description, pubDate, heroImage, permalink, alt } = content;
---
<html lang="en">
	<head>
		<Head {title} {description} {permalink} />
	</head>

	<body class="mx-auto"><!-- copied -->
		<MainNav />
		<div class="post wrapper rounded-lg py-2">
            <PostContent {title} {heroImage} {pubDate} {alt} {description}>
				<slot /> <!-- add content from .md -->
			</PostContent>
		</div>
        <div id="confirmationMessage" class="copied">Copied!</div>
	</body>
</html>

<script>
let quoteText = document.querySelector('h1');
let handleCopyClick = document.querySelector('#recipeTitle');

handleCopyClick.addEventListener('click', () => {
    let text = quoteText.textContent;
    navigator.clipboard.writeText(`${text}`);
});
</script>
