---
// PURPOSE: VIEW A SINGLE POST/RECIPE
import BaseHead from '../components/BaseHead.astro';
import MainNav from '../components/MainNav.astro';
import PostContent from '../components/PostContent.astro';

const { content } = Astro.props;
const { title, description, pubDate, heroImage, permalink, alt } = content;
---
<html lang="en">
<head>
	<BaseHead {title} {description} {permalink} />
</head>

<body class="mx-auto"><!-- copied -->
	<MainNav />
	<div class="post wrapper rounded-lg py-2">
		<PostContent {title} {heroImage} {pubDate} {alt} {description}>
			<slot /> <!-- add content from .md -->
		</PostContent>
	</div>
	<div id="confirmationMessage" class="copied">Copied!</div>
</body>
</html>

<script>
	function copyTitle() {
		const recipeTitle = document.getElementById('recipeTitle');
		
		if (recipeTitle) {
			recipeTitle.addEventListener('click', () => {
				const titleText = recipeTitle.textContent;
				navigator.clipboard.writeText(titleText)
				.then(() => {
					recipeTitle.textContent = 'Copied!';
					setTimeout(() => {
						recipeTitle.textContent = titleText;
					}, 1000);
				})
				.catch(err => {
					console.error('Failed to copy text: ', err);
				});
			});
		} else {
			console.error('Element with ID "recipeTitle" not found.');
		}
	}
	document.addEventListener('DOMContentLoaded', copyTitle);
</script>
